<nz-card>
    <nz-breadcrumb class="mb-4">
      <nz-breadcrumb-item>
        <a [routerLink]="'/dashboard/home'">
          <i nz-icon nzType="home" theme="outline"></i>
          <span>Home</span>
        </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="'/admin/coursematerials'">
          <span>Course Materials</span>
        </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>Course Material Details</nz-breadcrumb-item>
    </nz-breadcrumb>
   
    <nz-card nzTitle="Course Material Details" class="shadow-sm p-3 rounded-card">  
        <table class="product-info-table m-t-20">
            <tbody>
                <tr>
                    <td>Coursematerial Name:</td>
                    <td class="text-dark font-weight-semibold">{{ dislayDetails.courseMaterialName }}</td>
                </tr>
                <tr>
                    <td>Category:</td>
                    <td>{{ dislayDetails.subCategoryId.categoryId.categoryName }}</td>
                </tr>
                <tr>
                    <td>Sub Category:</td>
                    <td>{{ dislayDetails.subCategoryId.subCategoryName }}</td>
                </tr>
                <tr>
                  <td>Type:</td>
                  <td>{{ dislayDetails.type }}</td>
                </tr>
                <tr>
                  <td>Sorting:</td>
                  <td>{{ dislayDetails.sorting }}</td>
                </tr>  
                <tr>
                    <td>Coursematerial  URL:</td>
                    <td><a href="{{ dislayDetails.courseMaterialUrl }}" target="_blank">{{ dislayDetails.courseMaterialUrl }}</a></td>
                </tr>
                <tr>
                  <td>Image:</td>
                  <td>
                    <!-- Image Preview -->
                    <div class="col-md-4 m-b-10 m-r-10">
                      <nz-form-item>
                        <div *ngIf="imagePreviewUrl" class="image-preview">
                          <img [src]="imagePreviewUrl" alt="Image Preview" class="img-thumbnail preview-img" />
                        </div>
                      </nz-form-item>
                    </div>
                  </td>
              </tr>
                <tr>
                    <td>Description:</td>
                    <td>{{ dislayDetails.description || 'N/A' }}</td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td>
                        <nz-tag [nzColor]="dislayDetails.isActive ? 'green' : 'red'">
                            {{ dislayDetails.isActive ? 'Active' : 'Inactive' }}
                        </nz-tag>
                    </td>
                </tr>
            </tbody>
        </table> 
    </nz-card>    
    
    <div class="text-end m-t-20">
      <button
        nz-button
        nzType="primary"
        [routerLink]="'/admin/coursematerials'"
        title="Back to List"
      >
        Back
      </button>
    </div>
  </nz-card>
  