<nz-card>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="'/dashboard/home'">
          <i nz-icon nzType="home" theme="outline"></i>
          <span>Home</span>
        </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>Categories</nz-breadcrumb-item>
    </nz-breadcrumb>   
    <div class="row m-b-30">
      <div class="col-8">
        <h1 class="page-heading">Categories</h1>
      </div>
      <div class="col-lg-4 text-right">
            <a nz-button nzType="primary" [routerLink]="'/admin/category-add'"> 
                <i nz-icon nzType="plus-circle" theme="outline"></i>
                <span>Add Category</span>
            </a>
        </div>
    </div>
    <nz-table #listTable [nzData]="displayData" [nzBordered]="true" [nzShowPagination]="false">
      <thead>
        <tr>
          <th *ngFor="let column of orderColumn" [nzSortFn]="column.compare">
            {{ column.title }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of displayData; let i = index">
          <td>{{ (pageIndex - 1) * pageSize + (i + 1) }}</td>  
          <td>
            <div class="d-flex align-items-center">
              <nz-avatar
                nzShape="square"
                [nzSize]="60"
                nzIcon="picture"
                [nzSrc]="apiUrl+ item.imageUrl"
              ></nz-avatar>
              <span class="m-l-10">{{ item.categoryName }}</span>
            </div>
          </td>
          <td>{{ item.packageId.packageName }} </td>
          <td>{{ item.type }}</td>
          <td>
            <nz-badge
              *ngIf="item.isActive === true"
              nzStatus="success"
            ></nz-badge>
            <nz-badge
              *ngIf="item.isActive === false"
              nzStatus="error"
            ></nz-badge>
            <span class="text-capitalize">{{ item.isActive ? 'Active' : 'Inactive' }}</span>
          </td>
          <td >           
            <a class="m-r-5" nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="View" [routerLink]="['/admin/category-detail', item._id]">
              <i nz-icon nzType="eye" theme="outline"></i>
            </a>
            <a class="m-r-5" nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Edit" [routerLink]="['/admin/category-edit', item._id]">
                <i nz-icon nzType="edit" theme="outline"></i>
            </a>
            <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Delete" (click)="deleteItem('/api/category', item._id)">
                <i nz-icon nzType="delete" theme="outline"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <div class="pagination-container">
      <nz-pagination [(nzPageIndex)]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="total" (nzPageIndexChange)="onPageChange($event)"></nz-pagination>  
    </div>
  </nz-card>
  